@font-face {
    font-family: 'Varela';
    src: url('VarelaRound-Regular.ttf') format('truetype');
}

body, main {
    font-family: Varela;
    font-weight:normal;
    font-style:normal;
    margin: 0 auto;
    background-color: #FFFDF5;

}
body {
    overflow: hidden;
}
main {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: 92vh;
}
nav {
    margin: 0px;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 8vh;
    box-shadow: 0 0.125rem 0.5rem #ccc;
    z-index: 1;
}
h1 {
    color: #B02121;
    letter-spacing: 0.3rem;
    font-size: 2rem;
}
.links {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-right: 20vw;
}
.link {
    color: #B02121;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}
.link:hover {
    color: #788764;
}
.banner{
    position: relative;
    width: 100vw;
    height: 56vw;
    z-index: 2;
    background-image: url(banner.jpg);
    background-size: 100vw;
}

.bannerText {
    position: relative;
    top: 15vw;
    right: 20vw;
    width: 35vw;
    z-index: 1;
}
.video {
    position: absolute;
    bottom: -7vh;
    right: 22vw;
    width: 30vw;
    height: 20vw;
}
.content {
    position: static;
    padding-top: 33vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text {
    height: 500px;
}

@media only screen and (max-width: 768px) {
    .banner{
        width: 100vw;
        height: 216vw;
        background-image: url(banner-long.jpeg);
    }
    .bannerText{
        display: none;
    }
    .video {
        bottom: -15vh;
        right: 10vw;
        width: 70vw;
        height: 40vw;
    }
    .links{
        margin-right: 0;
        width: 100%;
        justify-content: space-around;
    }
}
